@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

html {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: #fff;
    margin: 0;
}

.header {
    width: 100%;
    height: 60px;
    background: #000000;
    z-index: -1;
    position: fixed;
}

header {
    width: -moz-available;
    width: -webkit-fill-available;
    height: 60px;
    padding: 0px 40px;
    font-size: 23px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

header span {
    filter: drop-shadow(0px 0px 5px #00000077);
}

header a {
    filter: drop-shadow(0px 0px 5px #00000077);
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
}

header img {
    width: 22px;
}

#logo {
    margin-right: auto;
    font-family: 'Black Han Sans', sans-serif;
}

section {
    list-style-type: none;
}

section div {
    padding: 0px 200px;
    height: 100vh;
}

@media (max-width: 1100px) {
    section div {
        padding: 0px !important;
    }
}

#section1 {
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/banner.png");
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    overflow: hidden;
}

#section1 span {
    font-family: 'Black Han Sans', sans-serif;
    color: #ffffff;
    font-size: 70px;
    line-height: 70px;
}

#section1 img {
    width: 130px;
}

footer {
    background-color: #181818;
    color: #fff;
    padding: 40px 350px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}